@import "tailwindcss";

@font-face {
    font-family: 'Lausanne 01';
    src: url("fonts/Lausanne-300.woff2");
}

@font-face {
    font-family: 'Lausanne 02';
    src: url("fonts/Lausanne-500.woff2");
}

* {
    font-family: 'Lausanne 01';
}

body { background-color: rgb(15, 15, 15); color: white }